@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  color: inherit;
  text-decoration: none;
  list-style-type: none; }

html {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  scroll-behavior: smooth; }

body {
  background-color: #FFF3F0;
  color: #02111B; }

h1 {
  font-size: 2rem;
  text-align: center; }

h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 50px; }

h3, h4, h5 {
  font-size: 1.2rem; }

a {
  color: #02111B; }
  a:hover {
    color: #02111B;
    text-decoration: underline; }

.swal-overlay {
  background-color: rgba(2, 17, 27, 0.9); }

.swal-button {
  background-color: #D7816A; }

.cart-icon {
  margin: 5px;
  font-size: 2.2rem;
  color: #D7816A; }

.btn-cart:focus {
  outline: none;
  box-shadow: none; }

.btn-primary {
  background-color: #D7816A;
  border: 0.5px solid #D7816A; }
  .btn-primary:hover {
    background-color: rgba(215, 129, 106, 0.9);
    outline: none;
    box-shadow: none; }
  .btn-primary:focus {
    background-color: rgba(215, 129, 106, 0.9);
    outline: none;
    box-shadow: none; }
  .btn-primary:active {
    background-color: #D7816A; }

.card {
  min-height: 552px; }
  .card img {
    max-height: 300px; }

.card-body {
  text-align: center; }

.navbar {
  color: #02111B;
  padding: 0px; }

.nav-link {
  color: #D7816A;
  font-size: 1.2rem; }
  .nav-link:hover {
    color: #D7816A;
    text-decoration: underline; }

.terms-con {
  color: #D7816A; }
  .terms-con:hover {
    color: #D7816A; }

footer {
  height: 200px; }
  footer a {
    color: #D7816A; }
    footer a:hover {
      color: #D7816A; }

.sm-icon {
  margin-left: 15px;
  font-size: 1.8rem;
  color: #D7816A; }
