@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "variables";

// ------------ Estilos generales / reset ------------ //


* {
    color: inherit;
    text-decoration: none;
    list-style-type: none;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    background-color: $col-pri;
    color: $col-sec;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-top: 50px;
}

h3,h4,h5 {
    font-size: 1.2rem;
}

a {
    color: $col-sec;
    &:hover {
        color: $col-sec;
        text-decoration: underline;
    }
}


// ------------ Sweet Alert ------------ //


.swal-overlay {
    background-color: rgba(2, 17, 27, .9)
}

.swal-button {
    background-color: $col-ter;
}


// ------------ Componentes ------------ //

.cart-icon {
    margin: 5px;
    font-size: 2.2rem;
    color: $col-ter;
}

.btn-cart:focus {
    outline: none;
    box-shadow: none;
}

.btn-primary {
    background-color: $col-ter;
    border: 0.5px solid $col-ter;
    &:hover {
        background-color: rgba(215,129,106,.9);
        outline: none;
        box-shadow: none;
    }
    &:focus {
        background-color: rgba(215,129,106,.9);
        outline: none;
        box-shadow: none;
    }
    &:active {
        background-color: $col-ter;
    }
}

.card {
    min-height: 552px;
    img {
        max-height: 300px;
    }
}

.card-body {
    text-align: center;
}

// ------------ Estilos de secciones ------------ //


.navbar {
    color: $col-sec;
    padding: 0px;
}

.nav-link {
    color: $col-ter;
    font-size: 1.2rem;
    &:hover {
        color: $col-ter;
        text-decoration: underline;
    }
}

.terms-con {
    color: $col-ter;
    &:hover {
        color: $col-ter;
    }
}

footer {
    height: 200px;
    a {
        color: $col-ter;
        &:hover {
            color: $col-ter;
        }
    }
}

.sm-icon {
    margin-left: 15px;
    font-size: 1.8rem;
    color: $col-ter;
}